doctype html
html
  head
    meta(charset="utf-8")
    title #{title} | Random site
    link(rel="stylesheet", href="/css/styles.css")
    block scripts
      script(src="/js/common.js")
  body
    include header.pug
    main#main
      block layout-content
    include footer.pug
    footer#footer
      div © Copyright HTTP5222, 2024.
